<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">

        <title>About</title>
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p class="app-text">{{aboutMessage}}</p>

            <div class="portrait-container">
                <img class="portrait" src="/img/BabyPhoto.jpg">
            </div>
        </div>
        {{>footer}}
    </body>
</html>