<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">

        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        <title>About</title>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p class="app-text">{{aboutMessage}}</p>

            <div class="portrait-container">
                <img class="portrait" src="/img/BabyPhoto.jpg">
            </div>
        </div>
        {{>footer}}
    </body>
</html>