html{
    position: relative;
}

body{
    background-color: whitesmoke;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    max-width: 100vw;
    min-height: 100vh;
    position: relative;
    display: grid;
    justify-items: center;
}

.main-content{
    height: 90vh;
    margin: 0 0 100px 0;
    width: 600px;
}

footer{
    background-color: lightgray;
    border-top: 5px solid #eeeeee;
    color: #888888;
    display: block;
    margin-top: 16px;
    height: 10vh;
    padding: 16px 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

footer p{
    font-size: 24px;
    text-align: center;
}

header{
    margin: 16px 0 48px 0;
}

.nav-links{
    display: flex;
    justify-content: space-between;
}

a.text-link,
header a{
    color: #888888;
    text-decoration: none;
}

h1{
    font-size: 64px;
    margin-bottom: 24px;
    text-align: center;
}

.app-text{
    font-size: 20px;
    line-height: 1.8;
    text-align: center;
}

.portrait-container{
    display: flex;
    justify-content: center;
}

.portrait{
    border-radius: 8px;
    width: 300px;
}

form{
    display: flex;
    justify-content: space-between;
}

input{
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 8px;
    width: 65%;
}

button{
    background: #888888;
    border: 1px solid #888888;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    padding: 8px;
    width: 25%;
}

#message-1,
#message-2,
#message-3,
#message-4{
    text-align: center;
}



@media screen and (max-width: 768px){
    .main-content{
        width: 400px;
    }
}


@media screen and (max-width: 500px){
    .main-content{
        width: 300px;
    }

    h1{
        font-size: 48px;
        margin-bottom: 48px;
    }

    .nav-links{
        font-size: 24px;
    }

    .app-text{
        font-size: 16px;
    }


    form{
        flex-direction: column;
        align-items: center;
    }

    form input{
        margin-bottom: 26px;
    }

    .portrait{
        width: 150px;
    }
}
